*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: "Archivo Black", sans-serif;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    background: #ffffff;
}
.form{
    width: 50%;
    position: relative;
    height: 50px;
    overflow: hidden;
}
.form input{
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    padding-top: 100px;
    border: none;
    outline: none;
    background: none;
    font-size: medium;
    font-weight: 500;
}
.form label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: rgb(0, 255, 213);
    border-bottom: 1px solid rgb(0, 255, 213);
    box-shadow: 0 8px 8px 0 rgba(0, 0,0, 0.2),0 6px 20px 0 rgba(0, 0,0, 0.2);
}
.form label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid rgb(0, 255, 213);
    transform: translateX(-100%);
    transition: transform 1s ease;
}
.content{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 1s ease;
}

.form input:focus  + .label-name .content,
.form input:valid + .label-name .content{
    transform: translateY(-150%);
    font-size: 15px;
    color:   rgb(0, 255, 213);
}
.form input:focus + .label-name::after , .form input :valid + .label-name::after{
    transform: translateX(0%);
}

/**************************************************************************************/
.words {
    color: #ffffff;
    font-size: 0;
    line-height: 1.2;
  }
  
  .words span {
    font-size: 4rem;
    display: inline-block;
    animation: move 4s ease-in-out infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(-30%, 0);
    }
    50% {
      text-shadow: 0 5px 25px rgb(0, 255, 213);
    }
    100% {
      transform: translate(30%, 0);
    }
  }
  
  .words span:nth-child(2) {
    animation-delay: 0.6s;
  }
  
  .words span:nth-child(3) {
    animation-delay: 1s;
  }
  
  .words span:nth-child(4) {
    animation-delay: 1.5s;
  }
  
  .words span:nth-child(5) {
    animation-delay: 2s;
  }
  
  .words span:nth-child(6) {
    animation-delay: 2.5s;
  }
  
  .words span:nth-child(7) {
    animation-delay: 3s;
  }
/*/////////////////////////////////////////////////////////////////////////*/
.bubbles img{
  width: 50px;
  animation: bubble 7s linear infinite;
}
.bubbles{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
}
@keyframes bubble{
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  100%{
    transform: translateY(-80vh);
    opacity: 0;
  }
}
.bubbles img:nth-child(1){
  animation-delay: 2s;
  width: 30px;
}
.bubbles img:nth-child(2){
  animation-delay: 1s;
  
}
.bubbles img:nth-child(3){
  animation-delay: 3s;
  width: 25px;
}
.bubbles img:nth-child(4){
  animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
  animation-delay: 2s;
}
.bubbles img:nth-child(6){
  animation-delay: 5s;
  width: 20px;
}
.bubbles img:nth-child(7){
  animation-delay: 7s;
  width: 35px;
}
.bubbles img:nth-child(8){
  animation-delay: 1s;
  width: 25px;
}
.bubbles img:nth-child(9){
  animation-delay: 3s;
  width: 30px;
}
.bubbles img:nth-child(10){
  animation-delay: 5s;
  width: 20px;
}